In [1]:
import requests
import pandas as pd
from io import StringIO

Reference areas:
_T  Total

ES  España

FOREIGN  Extranjero

_N  Sin respuesta

_O  Otro

_U  Desconocido
  SEE THIS RESOURCE

_X  No codificable

_Z  No aplicable

### 01 Tráfico de pasajeros

Tráfico de pasajeros registrados en los aeropuertos de las islas de Canarias según movimientos (llegadas y salidas), servicios comerciales y principales territorios de escala (territorio de despegue anterior al territorio de llegada independientemente del origen del vuelo / territorio de aterrizaje siguiente al territorio de salida independientemente del destino del vuelo). Datos mensuales y anuales para Canarias desde el año 2004.

Indicator: \
Passengers \
Aircraft services: \
Commercial

Número de personas embarcadas y desembarcadas (entradas y salidas) de una aeronave en un aeropuerto, excluyendo a los miembros en servicio de las tripulaciones de vuelo y cabina.

In [2]:
# URL of the CSV API
url = "https://datos.canarias.es/api/estadisticas/statistical-resources/v1.0/datasets/ISTAC/C00017A_000013/~latest.csv"

In [3]:
# Send HTTP GET request
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Read CSV data using pandas
    csv_data = StringIO(response.content.decode("utf-8"))
    df = pd.read_csv(csv_data)
else:
    print("Failed to retrieve data. Status code:", response.status_code)

In [4]:
df.shape

(215040, 16)

In [5]:
df.columns

Index(['MEDIDAS#es', 'MEDIDAS_CODE', 'TERRITORIO#es', 'TERRITORIO_CODE',
       'AEROPUERTO_ESCALA#es', 'AEROPUERTO_ESCALA_CODE',
       'MOVIMIENTO_AERONAVE#es', 'MOVIMIENTO_AERONAVE_CODE',
       'SERVICIO_AEREO#es', 'SERVICIO_AEREO_CODE', 'TIME_PERIOD#es',
       'TIME_PERIOD_CODE', 'OBS_VALUE', 'ESTADO_OBSERVACION#es',
       'ESTADO_OBSERVACION_CODE', 'CONFIDENCIALIDAD_OBSERVACION#es'],
      dtype='object')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215040 entries, 0 to 215039
Data columns (total 16 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   MEDIDAS#es                       215040 non-null  object
 1   MEDIDAS_CODE                     215040 non-null  object
 2   TERRITORIO#es                    215040 non-null  object
 3   TERRITORIO_CODE                  215040 non-null  object
 4   AEROPUERTO_ESCALA#es             215040 non-null  object
 5   AEROPUERTO_ESCALA_CODE           215040 non-null  object
 6   MOVIMIENTO_AERONAVE#es           215040 non-null  object
 7   MOVIMIENTO_AERONAVE_CODE         215040 non-null  object
 8   SERVICIO_AEREO#es                215040 non-null  object
 9   SERVICIO_AEREO_CODE              215040 non-null  object
 10  TIME_PERIOD#es                   215040 non-null  object
 11  TIME_PERIOD_CODE                 215040 non-null  object
 12  OBS_VALUE                        143567 non-null  float64
 13  ESTADO_OBSERVACION#es            143567 non-null  object
 14  ESTADO_OBSERVACION_CODE          143567 non-null  object
 15  CONFIDENCIALIDAD_OBSERVACION#es  0 non-null       float64
dtypes: float64(2), object(14)
memory usage: 26.3+ MB

In [45]:
df = df.drop(columns=df.columns[df.columns.str.endswith('#es')])

In [6]:
df.loc[df['TIME_PERIOD_CODE'] == "2025-M07"]

,MEDIDAS#es,MEDIDAS_CODE,TERRITORIO#es,TERRITORIO_CODE,AEROPUERTO_ESCALA#es,AEROPUERTO_ESCALA_CODE,MOVIMIENTO_AERONAVE#es,MOVIMIENTO_AERONAVE_CODE,SERVICIO_AEREO#es,SERVICIO_AEREO_CODE,TIME_PERIOD#es,TIME_PERIOD_CODE,OBS_VALUE,ESTADO_OBSERVACION#es,ESTADO_OBSERVACION_CODE,CONFIDENCIALIDAD_OBSERVACION#es
198,Pasajeros,PASAJEROS,Canarias,ES70,Reino Unido,GB,Llegada,ARRIVAL,Comercial,COMMERCIAL,07/2025,2025-M07,565831.0,Valor provisional,P,NaN
478,Pasajeros,PASAJEROS,Canarias,ES70,Reino Unido,GB,Salida,DEPARTURE,Comercial,COMMERCIAL,07/2025,2025-M07,540738.0,Valor provisional,P,NaN
758,Pasajeros,PASAJEROS,Canarias,ES70,Reino Unido,GB,Total,_T,Comercial,COMMERCIAL,07/2025,2025-M07,1106569.0,Valor provisional,P,NaN
1038,Pasajeros,PASAJEROS,Canarias,ES70,Extranjero,FOREIGN,Llegada,ARRIVAL,Comercial,COMMERCIAL,07/2025,2025-M07,1267108.0,Valor provisional,P,NaN
1318,Pasajeros,PASAJEROS,Canarias,ES70,Extranjero,FOREIGN,Salida,DEPARTURE,Comercial,COMMERCIAL,07/2025,2025-M07,1196977.0,Valor provisional,P,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213838,Pasajeros,PASAJEROS,El Hierro,ES703,Total,_T,Salida,DEPARTURE,Regular,SCHEDULED,07/2025,2025-M07,14942.0,Valor provisional,P,NaN
214118,Pasajeros,PASAJEROS,El Hierro,ES703,Total,_T,Total,_T,Regular,SCHEDULED,07/2025,2025-M07,30427.0,Valor provisional,P,NaN
214398,Pasajeros,PASAJEROS,El Hierro,ES703,Alemania,DE,Llegada,ARRIVAL,Regular,SCHEDULED,07/2025,2025-M07,NaN,NaN,NaN,NaN
214678,Pasajeros,PASAJEROS,El Hierro,ES703,Alemania,DE,Salida,DEPARTURE,Regular,SCHEDULED,07/2025,2025-M07,NaN,NaN,NaN,NaN
214958,Pasajeros,PASAJEROS,El Hierro,ES703,Alemania,DE,Total,_T,Regular,SCHEDULED,07/2025,2025-M07,NaN,NaN,NaN,NaN

### 02 Tráfico de Mercancías y correos